<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleAbrir.css">
    <title>Document</title>
</head>
<body>
    <form action="/abrir" method="POST">
        <div class="container">
            <label for="">Nome: </label>
            <input type="text" name="name" id="name">
            <label for="">Idade: </label>
            <input type="number" name="age" id="age">
            <label for="">Montante Inicial: </label>
            <input type="number" name="inicialValue" id="incialValue">
            <button class="button" type="submit">Abrir Conta</button>
        </div>
    </form>
</body>
</html>