<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleIndex.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="mainTitle">
            <h1 class="title">Abre sua conta no banco <span>Inter</span></h1>
        </div>
        <a href="/abrir"><button class="button">Abrir agora</button></a>
        <a href="/entrar"><button class="button">Entrar</button></a>
    </div>
</body>
</html>