@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #FF7A00;
    height: 50px; 
}

.nav{
    display: flex;
    justify-content: space-between;
}

.title{
    color: #fff;
    line-height: 50px;
    margin-left: 20px;
}

#name{
    text-decoration: none;
    line-height: 50px;
    font-size: 25px;
    color: #000;
    margin-right: 30px;
    transition: .2s;
}

#name:hover{
    color: #fff;
}

@media screen and (max-width: 450px){
    .title{
        display: none;
    }

    #name{
        justify-content: center;
        margin: auto auto;
    }
}

main{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

input{
    border: none;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

input:focus{
    outline: none;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#confirmar{
    background-color: #FF7A00;
    border: none;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    color: #000;
    transition: .2s;
}

#cancelar{
    background-color: #FF7A00;
    border: none;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    color: #000;
    transition: .2s;
}

#confirmar:hover ,#cancelar:hover{
    color: #fff;
}

button{
    all: unset;
}



