@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #FF7A00;
    height: 50px; 
}

.nav{
    display: flex;
    justify-content: space-between;
}

.title{
    color: #fff;
    line-height: 50px;
    margin-left: 20px;
}

#name{
    text-decoration: none;
    line-height: 50px;
    font-size: 25px;
    color: #000;
    margin-right: 30px;
    transition: .2s;
}

#name:hover{
    color: #fff;
}

@media screen and (max-width: 450px){
    .title{
        display: none;
    }

    #name{
        justify-content: center;
        margin: auto auto;
    }
}

body{
    background-color: #fff;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #fff;
    height: 100px;
    width: 20rem;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.buttonsOfTransitions{
    margin-top: 15px;
}

#sacar{
    background-color: #FF7A00;
    border: none;
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: 18px;
    transition: .2s;
}

#depositar{
    background-color: #FF7A00;
    border: none;
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-size: 18px;
    transition: .2s;
}

#sacar:hover, #depositar:hover{
    color: #fff;
}

.deleteButton{
    margin-top: 20px;
}

#deletar{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    transition: .2s;
    text-decoration: none;
    cursor: pointer;
}

#deletar:hover{
    background-color:rgb(88, 3, 3);
}
